.contact-form {
    background-color: var(--white);
    padding: 30px;
    margin: 30px auto;
    max-width: 500px;
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.contact-form__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.contact-form__legend {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

.contact-form__label {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-secondary);
    margin-bottom: -10px;
}

.contact-form__input {
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
    width: 100%;
}

.contact-form__input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}

.contact-form__button {
    margin-top: 10px;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
}

.contact-form__button:hover {
    background-color: var(--primary-hover);
}

@media (max-width: 600px) {
    .contact-form {
        padding: 20px;
        margin: 20px auto;
        box-shadow: none;
        border: 1px solid var(--border-color);
    }

    .contact-form__legend {
        font-size: 20px;
    }

}